	<!--Author: TJ
License: HansCreative corperation
License URL: http://creativecommons.org/licenses/by/3.0/-->

<div class="footer">
    <p>&copy; 2022 SACS Dashboard. All Rights Reserved | Design by  HansCreative</a></p>
</div>
    <!--//footer-->