<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><span class="fa fa-area-chart"></span> SACS<span class="dashboard_text"> 출입보안관리자페이지</span></a>
         
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>사용자</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/ul"><i class="fa fa-angle-right"></i> 리스트</a></li>
                <li><a href="/ua"><i class="fa fa-angle-right"></i> 등록</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>AP</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/apl"><i class="fa fa-angle-right"></i> 정보</a></li>
                <li><a href="/apa"><i class="fa fa-angle-right"></i> 등록</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="/us">
              <i class="fa fa-laptop"></i>
              <span>통계</span>
              <i class="fa fa-angle-left pull-right"></i>
              <ul class="treeview-menu">
                <li><a href="/us"><i class="fa fa-angle-right"></i> 사용자 </a></li>
                <li><a href="/apei"><i class="fa fa-angle-right"></i> 장애 </a></li>
              </ul>
              </a>
            </li>

            <!-- <li class="header">LABELS</li> -->
            <!-- <li><a href="#"><i class="fa fa-angle-right text-red"></i> <span>Change passowrd</span></a></li>
            <li><a href="#"><i class="fa fa-angle-right text-yellow"></i> <span>Report</span></a></li> -->
            <li><a href="/login"><i class="fa fa-angle-right text-aqua"></i> <span>Log-out</span></a></li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
  </aside>